/* Reset some default browser spacing */
* {
  box-sizing: border-box;
}

/* H1 styling */
h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 2px;
  text-align: center;
  padding: 2%;
}

#question-text {
    margin: 2px;
    padding-bottom: 4px;
    text-align: auto;
    font-weight: bold;
    
}


/* Page-level styling */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
}


/* Container of form */
.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.ans {
  width: 220px;
  height: 60px;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
  white-space: normal;
  border-radius: 4px;
  margin: 4px;
    font-size: 18px;
  cursor: pointer;
}


#Next {
    padding: 8px 16px;
    margin: 4px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
}

/* Button hover states */
button:hover {
    background: white;
  box-shadow: 4px 4px lightgray;
}